<div class="container-fluid slider-bg">
    <div class="left-animated-icon">
        <img src="../../assets/images/home/left-cube.png" class="">
    </div>

    <div class="right-animated-icon">
        <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
        <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
        <img src="../../assets/images/home/right-cube.png" class="trangle-three">
    </div>
    <div class="container">
        <div class="row box-align-center">

            <div class="col-md-6">
                <div class="slider_txt p-top">

                    <div class="slider_txt_center">
                        <!-- <img class="img-responsive" src="images/home_uppere.png"> -->
                        <h1 data-aos="zoom-in-up" class="aos-init">General agreement terms</h1>

                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/about.svg" class="img-responsive">
            </div>



        </div>
        <div class="header-bottom">
            <div class="left-header-bg">
                <img src="../../assets/images/home/left.png">
            </div>
            <div class="right-header-bg">
                <img src="../../assets/images/home/right.png">
            </div>
        </div>
    </div>
</div>
<section class="who_are inner-about">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2>General agreement terms</h2>
                <p class="text-center">The usage agreement is a binding contract between the customer and Huna Al-Mostakbal Company for Information Technology and it applies to all customers and users, and the two parties must abide by it.</p>
                <p class="text-center">It is strictly forbidden to file files that violate Islamic law and the policy of the Kingdom of Saudi Arabia, and in the event that this occurs, the service will be permanently suspended without the slightest responsibility of the company.</p>
                <p class="text-center">The ticketing system is the official system of communication between the company and the customer to document his requests.</p>
                <p class="text-center">Huna Al Mostakbal Company undertakes to maintain the confidentiality of customer information as an integral part of the Company's system and policy.</p>
                <p class="text-center">Contacting us is through technical support tickets or via the phones on the Contact Us page, and it has nothing to do with us</p>
                <p class="text-center">Any distributor who claims to be from the company, there are no distributors for the company here, Al-Mostakbal, and we have no relationship to any email, even if it bears the name of the company.</p>
                <p class="text-center">The national identity is considered the primary document to prove ownership of the membership with which the service is added, and therefore it is required upon loss or request of modification of the customer’s membership.</p>
                <p class="text-center">In the event that the customer wants to give up the service to another person, an application must be submitted through the ticket system.</p>
                <p class="text-center">You must deal in a decent manner with the company’s staff, otherwise you will be offered to stop the service.</p>
                <p class="text-center">In the case of a company here receiving the future a complaint, against any information whether it is hosting or domains, and saw that what is in the complaint deserves investigation, the service is frozen, and the parties to the dispute
                    are informed, until the issue of the claim is resolved.</p>
                <p class="text-center">Huna Al-Mustaqbal Company does not bear the damages caused by natural disasters such as hurricanes, interruption of communication wires, fires, or whatever.</p>
                <p class="text-center">The customer is responsible for protecting his data from theft or loss.</p>
                <p class="text-center">The customer is responsible for the service he is requesting, and if his need is not sufficient, responsibility falls on him, and he can upgrade before the invoice due date of a period of no less than a week.</p>
                <p class="text-center">When the customer submits an application for the requested service, he becomes bound by this agreement in the event of reading it or not reading it and he has no right in any case to request the return of the paid money.</p>
                <p class="text-center">Huna Al Mostaqbal is obligated to send notifications to the registered email not less than a week before the service renewal date.</p>
                <p class="text-center">Huna Al-Mustaqbal is not obligated to provide (preservation of the rights of the idea) because it is not legally recognized and it is not possible to prove the preservation of the idea in mock contracts "before the agreement." Through
                    local or international institutions specialized in this field to keep patents, ideas and brands</p>
                <p class="text-center">The previous terms are the general terms for all services, from which sub-clauses for each service are split, and the customer abides by the agreement for the required service.</p>
            </div>
        </div>
    </div>

</section>