<div class="container-fluid slider-bg">
    <div class="left-animated-icon">
        <img src="../../assets/images/home/left-cube.png" class="">
    </div>

    <div class="right-animated-icon">
        <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
        <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
        <img src="../../assets/images/home/right-cube.png" class="trangle-three">
    </div>
    <div class="container">
        <div class="row box-align-center">

            <div class="col-md-6">
                <div class="slider_txt p-top">

                    <div class="slider_txt_center">
                        <!-- <img class="img-responsive" src="images/home_uppere.png"> -->
                        <h1 data-aos="zoom-in-up" class="aos-init">Price</h1>

                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/about.svg" class="img-responsive">
            </div>



        </div>
        <div class="header-bottom">
            <div class="left-header-bg">
                <img src="../../assets/images/home/left.png">
            </div>
            <div class="right-header-bg">
                <img src="../../assets/images/home/right.png">
            </div>
        </div>
    </div>
</div>
<section class="abt_who">
    <div class="container">
        <div class="col-md-12">
            <div class="price_banner">

                <h1 class="heading_inner">خدمات الإستضافة</h1>


                <h1 class="heading_inner">الإستضافة المشتركة</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="compare_plan_sheet">
                        <table class="table-responsive table table-striped" border="1">
                            <tbody>
                                <tr>
                                    <td rowspan="2" class="heading-td " width="10%"> التفاصيل</td>
                                    <td class="table-col heading-td" colspan="4">الخطة</td>
                                </tr>
                                <tr>
                                    <td>الأولى</td>
                                    <td>الثانية</td>
                                    <td>الثالثة</td>
                                    <td>الرابعة</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">المساحة</th>
                                    <td>1 جيجا</td>
                                    <td>5 جيجا</td>
                                    <td>10 جيجا</td>
                                    <td>20 جيجا</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">معدل نقل البيانات (الترافيك)</th>
                                    <td>80 جيجا</td>
                                    <td>150 جيجا</td>
                                    <td>250 جيجا</td>
                                    <td>400 جيجا</td>
                                </tr>

                                <tr>
                                    <th class="heading-td ">عدد الإيميلات </th>
                                    <td>10</td>
                                    <td>30</td>
                                    <td>50</td>
                                    <td>غير محدود</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">قواعد البيانات </th>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">عدد النطاقات </th>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">عدد النطاقات الفرعية </th>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">عدد الملفات المسموح بها </th>
                                    <td>غير محدود</td>
                                    <td>غير محدود </td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">لوحة تحكم cPanel </th>
                                    <td>متوفرة</td>
                                    <td>متوفرة </td>
                                    <td>متوفرة</td>
                                    <td>متوفرة</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">نظام التشغيل </th>
                                    <td>linux</td>
                                    <td>linux</td>
                                    <td>linux</td>
                                    <td>linux</td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">دعم فني </th>
                                    <td>متوفر</td>
                                    <td>متوفر </td>
                                    <td>متوفر </td>
                                    <td>متوفر </td>
                                </tr>
                                <tr>
                                    <th class="heading-td ">نسخ إحتياطي</th>
                                    <td>متوفر</td>
                                    <td>متوفر</td>
                                    <td>متوفر</td>
                                    <td>متوفر</td>
                                </tr>
                            </tbody>
                            <tfoot class="table-footer">
                                <tr>
                                    <th class="heading-td ">السعر (سنوياً) </th>
                                    <td>499 ريال </td>
                                    <td>899 ريال </td>
                                    <td>1499 ريال </td>
                                    <td>2499 ريال </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- row 2 -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading_inner">خدمات إستضافة الـ VPS
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="compare_plan_sheet">
                        <table class="table-responsive table table-striped" border="1">

                            <tbody>
                                <tr>
                                    <td rowspan="2" class="heading-td " width="10%">التفاصيل</td>
                                    <td class="table-col heading-td" colspan="3"> الخطة</td>
                                </tr>
                                <tr>

                                    <td>VPS 3</td>
                                    <td>VPS 2</td>
                                    <td>VPS 1</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">المساحة
                                    </th>
                                    <td>250 جيجا</td>
                                    <td>120 جيجا</td>
                                    <td>60 جيجا</td>


                                </tr>
                                <tr>

                                    <th class="heading-td ">معدل نقل البيانات (الترافيك)
                                    </th>
                                    <td>500 جيجا</td>
                                    <td>400 جيجا</td>
                                    <td>300 جيجا</td>


                                </tr>
                                <tr>

                                    <th class="heading-td ">الرام </th>
                                    <td>8 جيجا </td>
                                    <td>4 جيجا </td>
                                    <td>2 جيجا </td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">نوع المعالج</th>
                                    <td>Intel Core i7</td>
                                    <td>Intel Core i7</td>
                                    <td>Intel Core i7</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">سرعة الاتصال</th>
                                    <td>1000 ميجا </td>
                                    <td>1000 ميجا </td>
                                    <td>1000 ميجا </td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">عدد الإيميلات </th>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">عدد الإيميلات </th>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">عدد النطاقات </th>
                                    <td>غير محدود
                                    </td>
                                    <td>غير محدود </td>
                                    <td>غير محدود</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">لوحة تحكم cPanel </th>
                                    <td>متوفرة</td>
                                    <td>متوفرة </td>
                                    <td>متوفرة</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">نظام التشغيل </th>
                                    <td>linux</td>
                                    <td>linux </td>
                                    <td>linux</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">دعم فني </th>
                                    <td>متوفر</td>
                                    <td>متوفر </td>
                                    <td>متوفر</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">نسخ إحتياطي (داخلي / خارجي) </th>
                                    <td>متوفر</td>
                                    <td>متوفر </td>
                                    <td>متوفر</td>

                                </tr>
                            </tbody>
                            <tfoot class="table-footer">
                                <tr>

                                    <th class="heading-td ">السعر السنوي </th>
                                    <td>3099 ريال </td>
                                    <td>2499 ريال </td>
                                    <td>1899 ريال </td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- row 3 -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading_inner"> يمكن إضافة مساحات مختلفة
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="compare_plan_sheet">
                        <table class="table-responsive table table-striped" border="1">


                            <tbody>
                                <tr>
                                    <td rowspan="2" class="heading-td " width="10%"> التفاصيل</td>
                                    <td class="table-col heading-td" colspan="3">الخطة</td>

                                </tr>
                                <tr>


                                    <td>VPS 3</td>
                                    <td>VPS 2</td>
                                    <td>VPS 1</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">المساحة</th>
                                    <td>40 جيجا SSD </td>
                                    <td>20 جيجا SSD</td>
                                    <td>10 جيجا SSD </td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">معدل نقل البيانات (الترافيك)</th>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>

                                </tr>
                                <tr>
                                    <th class="heading-td ">الرام </th>

                                    <td>8 جيجا </td>
                                    <td>4 جيجا </td>
                                    <td>2 جيجا </td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">قوة المعالج</th>
                                    <td>2.4 GHz</td>
                                    <td>2.4 GHz</td>
                                    <td>2.4 GHz</td>

                                </tr>
                                <tr>
                                    <th class="heading-td ">سرعة الاتصال</th>

                                    <td>100 Mbps </td>
                                    <td>100 Mbps </td>
                                    <td>100 Mbps </td>

                                </tr>
                                <tr>
                                    <th class="heading-td ">عدد الإيميلات </th>

                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">عدد الإيميلات </th>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>
                                    <td>غير محدود</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">عدد النطاقات </th>
                                    <td>غير محدود
                                    </td>
                                    <td>غير محدود </td>
                                    <td>غير محدود</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">لوحة تحكم cPanel </th>
                                    <td>متوفر</td>
                                    <td>متوفر </td>
                                    <td>متوفر</td>

                                </tr>

                                <tr>

                                    <th class="heading-td ">نظام التشغيل </th>
                                    <td>linux</td>
                                    <td>linux </td>
                                    <td>linux</td>

                                </tr>
                                <tr>

                                    <th class="heading-td ">دعم فني </th>
                                    <td>متوفر</td>
                                    <td>متوفر </td>
                                    <td>متوفر </td>


                                </tr>
                                <tr>

                                    <th class="heading-td ">نسخ إحتياطي (داخلي / خارجي) </th>
                                    <td>متوفر</td>
                                    <td>متوفر </td>
                                    <td>متوفر</td>

                                </tr>
                            </tbody>
                            <tfoot class="table-footer">
                                <tr>

                                    <th class="heading-td ">السعر (سنوياً) </th>
                                    <td>3500 ريال </td>
                                    <td>2800 ريال</td>
                                    <td>2250 ريال </td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>