<div class="container-fluid slider-bg">
    <div class="left-animated-icon">
        <img src="../../assets/images/home/left-cube.png" class="">
    </div>

    <div class="right-animated-icon">
        <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
        <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
        <img src="../../assets/images/home/right-cube.png" class="trangle-three">
    </div>
    <div class="container">
        <div class="row box-align-center">

            <div class="col-md-6">
                <div class="slider_txt p-top">

                    <div class="slider_txt_center">
                        <!-- <img class="img-responsive" src="images/home_uppere.png"> -->
                        <h1 data-aos="zoom-in-up" class="aos-init">{{ 'INNER_PAGES.HOSTING' | translate }}</h1>

                        <h1 class="bold-font yellow-text aos-init" data-aos="zoom-in-up">{{ 'INNER_PAGES.SERVICES' | translate }}</h1>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images//hosting.png" class="img-responsive">
            </div>



        </div>
        <div class="header-bottom">
            <div class="left-header-bg">
                <img src="../../assets/images/home/left.png">
            </div>
            <div class="right-header-bg">
                <img src="../../assets/images/home/right.png">
            </div>
        </div>
    </div>
</div>
<section class="who_are inner-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <p>{{ 'INNER_PAGES.HOSTING_SERVICES_DESCRIPTION' | translate }} </p>

                <h2>{{ 'INNER_PAGES.HOSTING_SERVICES_HEADING' | translate }}
                </h2>
            </div>



        </div>
        <div class="row hosting-box">
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/hosting-icon1.png" class="img-responsive">


                    <p class="hosting-box-heading">{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING1' | translate }}</p>
                    <p>{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING1_DESCRIPTION' | translate }}</p>

                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/hosting-icon2.png" class="img-responsive">

                    <p class="hosting-box-heading">{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING2' | translate }}</p>
                    <p>{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING2_DESCRIPTION' | translate }}</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/hosting-icon3.png" class="img-responsive">

                    <p class="hosting-box-heading">{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING3' | translate }}</p>
                    <p>{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING3_DESCRIPTION' | translate }}</p>

                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/hosting-icon4.png" class="img-responsive">

                    <p class="hosting-box-heading">{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING4' | translate }}</p>
                    <p>{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING4_DESCRIPTION' | translate }}</p>

                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/hosting-icon5.png" class="img-responsive">

                    <p class="hosting-box-heading">{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING5' | translate }}</p>
                    <p>{{ 'INNER_PAGES.HOSTING_SERVICES_BOX_HEADING5_DESCRIPTION' | translate }}</p>

                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/hosting-icon6.png" class="img-responsive">

                </div>

            </div>
        </div>
    </div>
</section>
<section class="hosting-service">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="host-service-box ">
                    <h4>Shared Hosting</h4>
                    <div class="host-img-box">
                        <img src="../../../assets/images/host-pack-1.png" class="img-responsive">
                    </div>
                    <div class="price-box">
                        <p class="price-text"><span class="small-text"> SAR </span> 499 <span class="small-text"> Yearly </span></p>
                    </div>
                    <div class="listing">
                        <ul>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>1 GB Space</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>80 GB Traffic</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>10 Emails</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>1 Domain</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>Unlimited Sub Domains</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>Technical Support</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>cPanel Control Panel</span></li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="host-service-box most-poular">
                    <h4>Cloud Hosting</h4>
                    <div class="host-img-box">
                        <img src="../../../assets/images/most-pack-1.png" class="img-responsive">
                    </div>
                    <div class="price-box">

                        <p class="price-text"><span class="small-text"> SAR </span> 2250 <span class="small-text"> Yearly </span></p>
                    </div>
                    <div class="listing">
                        <ul>
                            <li><img src="../../../assets/images/white-tick.png" class="img-responsive"> <span>10 GB SSD Space</span></li>
                            <li><img src="../../../assets/images/white-tick.png" class="img-responsive"> <span>2 GB RAM</span></li>
                            <li><img src="../../../assets/images/white-tick.png" class="img-responsive"> <span>2.4 GHz Processor power</span></li>
                            <li><img src="../../../assets/images/white-tick.png" class="img-responsive"> <span>100 Mbps Connection speed</span></li>
                            <li><img src="../../../assets/images/white-tick.png" class="img-responsive"> <span>Email Unlimited</span></li>
                            <li><img src="../../../assets/images/white-tick.png" class="img-responsive"> <span>Technical Support</span></li>
                            <li><img src="../../../assets/images/white-tick.png" class="img-responsive"> <span>cPanel Control Panel</span></li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="host-service-box ">
                    <h4>VPS Hosting</h4>
                    <div class="host-img-box">
                        <img src="../../../assets/images/host-pack-2.png" class="img-responsive">
                    </div>
                    <div class="price-box">
                        <p class="price-text"><span class="small-text"> SAR </span> 1899 <span class="small-text"> Yearly </span></p>
                    </div>
                    <div class="listing">
                        <ul>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>60 GB Space </span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>300 GB Traffic</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>Processor type Intel Core i7</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>Connection Speed 1000MB</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>2 GB RAM</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>Technical Support</span></li>
                            <li><img src="../../../assets/images/right-tick.png" class="img-responsive"> <span>cPanel Control Panel</span></li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>