<div class="container-fluid slider-bg">
    <div class="left-animated-icon">
        <img src="../../assets/images/home/left-cube.png" class="">
    </div>

    <div class="right-animated-icon">
        <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
        <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
        <img src="../../assets/images/home/right-cube.png" class="trangle-three">
    </div>
    <div class="container">
        <div class="row box-align-center">
            <div class="col-md-6">
                <div class="slider_txt p-top">

                    <div class="slider_txt_center">
                        <!-- <img class="img-responsive" src="images/home_uppere.png"> -->
                        <h1 data-aos="zoom-in-up" class="aos-init aos-animate">{{ 'INNER_PAGES.ABOUT' | translate }}</h1>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/about-new.png" class="img-responsive">
            </div>

        </div>
        <div class="header-bottom">
            <div class="left-header-bg">
                <img src="../../assets/images/home/left.png">
            </div>
            <div class="right-header-bg">
                <img src="../../assets/images/home/right.png">
            </div>
        </div>
    </div>
</div>
<section class="who_are inner-about about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                <h2>{{ 'HOME.WHO_WE_ARE' | translate }}</h2>
                <h4>{{ 'HOME.WHO_WE_ARE_SUB_HEADING_ONE' | translate }}<br>{{ 'HOME.WHO_WE_ARE_SUB_HEADING_TWO' | translate }}</h4>
                <p>{{ 'INNER_PAGES.ABOUT_DESCRIPTION_ONE' | translate }}</p>
                <p>{{ 'INNER_PAGES.ABOUT_DESCRIPTION_TWO' | translate }} </p>
            </div>

        </div>
    </div>
</section>
<section class="counter_st about-counter">
    <div class="container">
        <div class="row">
            <div class="right-animated-icon">
                <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
                <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
                <img src="../../assets/images/home/right-cube.png" class="trangle-three">
            </div>
            <div class="wrapper row box-align-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="info-italic">
                        <p>{{ 'INNER_PAGES.ABOUT_DARK_DESCRIPTION_SECTION' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="info "> <img src="../../assets/images/about-2.png">

                    </div>
                </div>


            </div>
        </div>
    </div>

</section>
<section class="who_are inner-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                <h2>{{ 'INNER_PAGES.WE_ARE_BEST' | translate }}</h2>

                <p>{{ 'INNER_PAGES.WE_ARE_BEST_DESCRIPTION' | translate }}</p>
            </div>

        </div>
        <div class="row we-are-best box-align-center">
            <div class="col-md-6">
                <h3>{{ 'INNER_PAGES.DOMAIN' | translate }} {{ 'INNER_PAGES.REGISTRATION' | translate }}</h3>
                <p>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_DESCRIPTION' | translate }}</p>


            </div>
            <div class="col-md-6">
                <div class="dots-bg">
                    <img src="../../assets/images/dots2.png">
                </div>
                <img src="../../assets/images/best2.png" class="img-responsive">
            </div>
        </div>
        <div class="row we-are-best right-box box-align-center">

            <div class="col-md-6">
                <div class="dots-bg">
                    <img src="../../assets/images/dots2.png">
                </div>
                <img src="../../assets/images/best1.png" class="img-responsive">

            </div>
            <div class="col-md-6">
                <h3>{{ 'INNER_PAGES.HOSTING' | translate }} {{ 'INNER_PAGES.SERVICES' | translate }}</h3>
                <p>{{ 'INNER_PAGES.HOSTING_SERVICES_DESCRIPTION' | translate }} </p>


            </div>
        </div>
        <div class="row we-are-best box-align-center">
            <div class="col-md-6">
                <h3>{{ 'INNER_PAGES.ANDROID_INNER_HEADING' | translate }} </h3>
                <p>{{ 'INNER_PAGES.ANDROID_DESCRIPTION' | translate }}
                </p>

            </div>
            <div class="col-md-6">
                <div class="dots-bg">
                    <img src="../../assets/images/dots2.png">
                </div>
                <img src="../../assets/images/best3.png" class="img-responsive">
            </div>
        </div>
        <div class="row we-are-best right-box box-align-center">

            <div class="col-md-6">
                <div class="dots-bg">
                    <img src="../../assets/images/dots2.png">
                </div>
                <img src="../../assets/images/best4.png" class="img-responsive right-box">
            </div>
            <div class="col-md-6">
                <h3>{{ 'INNER_PAGES.IOS_HEADING' | translate }}</h3>
                <p>{{ 'INNER_PAGES.IOS_DESCRIPTION' | translate }}</p>


            </div>
        </div>
        <div class="row we-are-best box-align-center">
            <div class="col-md-6">
                <h3>{{ 'INNER_PAGES.WEB_APPLICATION_DEVELOPMENT' | translate }}</h3>
                <p>{{ 'INNER_PAGES.WEB_APPLICATION_DEVELOPMENT_DESCRIPTION' | translate }}</p>

            </div>
            <div class="col-md-6">
                <div class="dots-bg">
                    <img src="../../assets/images/dots2.png">
                </div>
                <img src="../../assets/images/best5.png" class="img-responsive">
            </div>
        </div>
        <div class="row we-are-best right-box box-align-center">

            <div class="col-md-6">
                <div class="dots-bg">
                    <img src="../../assets/images/dots2.png">
                </div>
                <img src="../../assets/images/best6.png" class="img-responsive right-box">
            </div>
            <div class="col-md-6">
                <h3> {{ 'INNER_PAGES.LIVE_CHAT_HEADING' | translate }} </h3>
                <p> {{ 'INNER_PAGES.LIVE_CHAT_DESCRIPTION' | translate }} </p>

            </div>
        </div>
    </div>
</section>