<div class="container-fluid slider-bg">
    <div class="left-animated-icon">
        <img src="../../assets/images/home/left-cube.png" class="">
    </div>

    <div class="right-animated-icon">
        <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
        <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
        <img src="../../assets/images/home/right-cube.png" class="trangle-three">
    </div>
    <div class="container">
        <div class="row box-align-center">

            <div class="col-md-6">
                <div class="slider_txt p-top">

                    <div class="slider_txt_center">
                        <!-- <img class="img-responsive" src="images/home_uppere.png"> -->
                        <h1 data-aos="zoom-in-up" class="aos-init">{{ 'INNER_PAGES.WEBSITE' | translate }}</h1>

                        <h1 class="bold-font yellow-text aos-init" data-aos="zoom-in-up">{{ 'INNER_PAGES.DEVELOPMENT' | translate }}</h1>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/web_development.png" class="img-responsive">
            </div>



        </div>
        <div class="header-bottom">
            <div class="left-header-bg">
                <img src="../../assets/images/home/left.png">
            </div>
            <div class="right-header-bg">
                <img src="../../assets/images/home/right.png">
            </div>
        </div>
    </div>
</div>
<section class="who_are inner-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h2>{{ 'INNER_PAGES.WE_ARE_FULLY_SERVICE' | translate }}</h2>

                <p>{{ 'INNER_PAGES.WE_ARE_FULLY_SERVICE_DESCRIPTION' | translate }}</p>

            </div>



        </div>
    </div>
</section>
<section class="website-specification">
    <img src="../../assets/images/web-launcher.png" class="web-launcher img-responsive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="yellow-text">{{ 'INNER_PAGES.TAILOR_MADE' | translate }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/web-icon-1.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.WEB_DEVELOPMENT_1_BOX_HEADING' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.WEB_DEVELOPMENT_1_BOX_DESCRIPTION' | translate }}</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/web-icon-2.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.WEB_DEVELOPMENT_2_BOX_HEADING' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.WEB_DEVELOPMENT_2_BOX_DESCRIPTION' | translate }}</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/web-icon-3.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.WEB_DEVELOPMENT_3_BOX_HEADING' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.WEB_DEVELOPMENT_3_BOX_DESCRIPTION' | translate }}</p>

                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/web-icon-4.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.WEB_DEVELOPMENT_4_BOX_HEADING' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.WEB_DEVELOPMENT_4_BOX_DESCRIPTION' | translate }}</p>

                </div>

            </div>


        </div>
    </div>
</section>
<section class="website-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">



                <div class="web-specification-center">
                    <div class="web-center-outer-box">
                        <div class="web-center-box">
                            <img src="../../assets/images/web-specification-center.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="web-label step1 aos-init" data-aos="fade-right">
                        <span class="label-test">
                                PHP
                        </span>
                        <img src="../../assets/images/web-icon-php.png" class="img-responsive">
                    </div>
                    <div class="web-label step2 aos-init" data-aos="fade-right" data-aos-delay="300">
                        <span class="label-test">
                                React JS
                            </span>
                        <img src="../../assets/images/web-icon-react.png" class="img-responsive">
                    </div>
                    <div class="web-label step3 aos-init" data-aos="fade-right" data-aos-delay="500">
                        <span class="label-test">
                                    angular
                                </span>
                        <img src="../../assets/images/web-icon-angular.png" class="img-responsive">
                    </div>
                    <div class="web-label step4 aos-init" data-aos="fade-right" data-aos-delay="700">
                        <span class="label-test">
                                        MongoDB
                                    </span>
                        <img src="../../assets/images/web-icon-mongob.png" class="img-responsive">
                    </div>
                    <div class="web-label step5 aos-init" data-aos="fade-left" data-aos-delay="400">
                        <span class="label-test">
                                            laravel
                                        </span>
                        <img src="../../assets/images/web-icon-laravel.png" class="img-responsive">
                    </div>
                    <div class="web-label step6 aos-init" data-aos="fade-left" data-aos-delay="600">
                        <span class="label-test">
                                                Node JS
                                            </span>
                        <img src="../../assets/images/web-icon-node.png" class="img-responsive">
                    </div>
                    <div class="web-label step7 aos-init" data-aos="fade-left" data-aos-delay="800">
                        <span class="label-test">
                                                    MySQL
                                                </span>
                        <img src="../../assets/images/web-icon-mysql.png" class="img-responsive">
                    </div>
                    <div class="web-label step8 aos-init" data-aos="fade-left" data-aos-delay="900">
                        <span class="label-test">
                                                        Blockchain
                                                    </span>
                        <img src="../../assets/images/web-icon-blockchain.png" class="img-responsive">
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>