@font-face {
    font-family: 'NeoSansArabic';
    src: url('../fonts/NeoSansArabic.ttf');
}

body {
    font-family: 'NeoSansArabic';
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.top_header .navbar-nav>li>a {
    font-family: 'NeoSansArabic' !important;
}

.type_txt textarea {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: right !important;
}

.clients_logo li {
    border-bottom: #e9efef solid 1px;
    border-left: #e9efef solid 1px;
    border-right: none;
}

.clients_logo li:nth-child(4) {
    border-left: none !important;
}

.clients_logo li:nth-child(8) {
    border-left: none !important;
}

.type_txt {
    direction: rtl;
}

.enter_details input {
    display: block;
    width: 95%;
    height: 60px;
    padding: 6px 26px;
    text-align: right;
}

.thx_feedback {
    width: auto;
    padding: 0px;
    direction: rtl;
}

.type_txt textarea {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 30px;
    direction: rtl;
}

.chat_hd img {
    position: absolute;
    right: 20px;
    height: 30px;
    width: 88px;
    left: auto;
}

.btn-close {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}

.agent_photo {
    width: 6%;
    float: right;
}

.agent_name {
    width: 60%;
    float: right;
    margin-left: 0%;
    font-size: 18px;
    color: #333;
    line-height: 26px;
    margin-right: 12px;
}

.top_header .navbar-brand {
    float: right;
}

.top_header .navbar-right {
    float: left !important;
}

.top_header .navbar-nav>li {
    float: right;
}

.slider_txt_left {
    width: auto;
    float: right;
}

.slider_txt img {
    display: inline-block;
    float: left;
}

.who_are h2::after {
    right: 0;
    left: auto;
}

.abt_banner img {
    display: inline-block;
    float: left;
}

.contact_adrs li h5 {
    text-align: right;
}

.contact_adrs li img {
    float: right;
    margin-top: 0px;
    margin-left: 26px;
}

.contact_form h5 {
    text-align: right;
}

.project_start h3 {
    text-align: right
}

.project_start h4 {
    text-align: right;
}

.prject_ser h3 {
    text-align: right;
}

.two_services h3 {
    text-align: right;
}

.abt_who p.text-center {
    text-align: right;
}

.abt_who h2 {
    margin: 50px;
    text-align: right;
}

.enter_details input,
.enter_details select {
    direction: rtl !important;
}


/* new csss */

.top_header .navbar-right {
    float: left !important;
}

.top_header .navbar-nav>li {
    float: right;
}

.slick-slider {
    direction: ltr !important;
}

.who_are h4 {
    text-align: right;
}

.portfolio-girl.aos-init.aos-animate {
    direction: ltr !important;
}

.portfolio-heading {
    padding-right: 150px;
    text-align: right;
}

.col-md-6.portfolio-content {
    text-align: right;
}

.download-btn {
    float: right;
}

.portfolio-list-slider .slick-prev.slick-arrow {
    right: auto;
    left: 0;
    top: 33%;
}

.portfolio-list-slider .slick-next.slick-arrow {
    right: auto;
    left: 0;
}

.portfolio-list-slider {
    padding-left: 100px;
    padding-right: 0;
}

.get-app-bottom-avatar {
    left: 0 !important;
    right: auto !important;
}

.submenu {
    left: auto;
    right: 0;
}

.bg-pattern {
    position: absolute;
    right: 0;
}

.dots-bg {
    position: absolute;
    right: 0%;
    left: auto;
}

.inner-bg .slider_txt_center {
    text-align: right;
}

.row.we-are-best.right-box {
    text-align: right;
}

.top_header .fixed-theme .navbar-nav>li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inner-about h2 .inner-about h4 {
    text-align: center;
}

.copy_ryt {
    padding: 0;
    text-align: right;
}

.get-in-touch h1 {
    text-align: right;
}

.launcher-section {
    transform: rotateY(180deg);
}

.launcher-section .container {
    transform: rotateY(-180deg);
}

.step-text {
    flex: 1;
    text-align: left !important;
}

.launcher-section h1 {
    text-align: left;
    margin-left: 59px;
}

.connection-step {
    margin-left: -44px;
    margin-top: 136px !important;
}

.connection-step.step2 {
    margin-top: 50px;
    margin-top: 63px;
}

.launch-right-box .step-text {
    text-align: right !important;
}

.launch-right-box .connection-step {
    margin-top: 81px !important;
}

.launch-right-box .connection-step.step4 {
    margin-top: 130px !important;
}

.launcher-icon {
    margin-right: calc(50% - 105px);
}

.hosting-box .specific-box {
    text-align: right !important;
}

@media (min-width:768px) and (max-width:1023px) {
    .launcher-section {
        min-height: 1292px;
    }
    .connection-step {
        margin-left: -26px;
    }
    .connection-step.step2 {
        margin-top: 50px;
        margin-top: 86px;
    }
}

.web-label.step1 {
    left: 268px;
    flex-direction: row-reverse;
}

.web-label.step2 {
    top: 126px;
    left: 11%;
    flex-direction: row-reverse;
}

.web-label.step3 {
    top: 249px;
    left: 11%;
    flex-direction: row-reverse;
}

.web-label.step4 {
    top: 370px;
    left: 23%;
    flex-direction: row-reverse;
}

.web-label.step5 {
    right: 20%;
    flex-direction: row;
}

.web-label.step6 {
    right: 12%;
    flex-direction: row;
    top: 23%;
}

.web-label.step7 {
    right: 12%;
    flex-direction: row;
    top: 48%;
}

.web-label.step8 {
    right: 20%;
    flex-direction: row;
    top: 74%;
}

.slider__indicators {
    right: 18px;
    left: auto;
}

@media (min-width:220px) and (max-width:767px) {
    .nav.navbar-nav.navbar-right.menu {
        float: right !important;
    }
}

.submenu a {
    border-right: 3px solid rgba(0, 0, 0, 0) !important;
}

.hosting-box .specific-box {
    text-align: right;
    border-left: none !important;
}

.specific-box h2 {
    text-align: right !important;
}

.text-center h2,
.text-center h4,
.text-center p {
    text-align: center !important;
}

.ml-auto,
.mx-auto {
    margin-left: 0 !important;
    margin-right: auto;
}

.service-slider {
    direction: ltr !important;
    overflow: hidden;
}

.copy_ryt {
    text-align: right !important;
    padding: 0 !important;
}

.home-section h4 {
    text-align: right !important;
}

.about_section h4,
.about_section h4 {
    text-align: center !important;
}