<div class="container-fluid slider-bg">
    <div class="left-animated-icon">
        <img src="../../assets/images/home/left-cube.png" class="">
    </div>

    <div class="right-animated-icon">
        <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
        <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
        <img src="../../assets/images/home/right-cube.png" class="trangle-three">
    </div>
    <div class="container">
        <div class="row box-align-center">

            <div class="col-md-6">
                <div class="slider_txt p-top">

                    <div class="slider_txt_center">
                        <!-- <img class="img-responsive" src="images/home_uppere.png"> -->
                        <h1 data-aos="zoom-in-up" class="aos-init">Return Policy</h1>

                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/about.svg" class="img-responsive">
            </div>



        </div>
        <div class="header-bottom">
            <div class="left-header-bg">
                <img src="../../assets/images/home/left.png">
            </div>
            <div class="right-header-bg">
                <img src="../../assets/images/home/right.png">
            </div>
        </div>
    </div>
</div>
<section class="abt_who">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2>
                    Return policy
                </h2>
                <p class="text-center">
                    The future company here guarantees that the full amount will be recovered within 15 days in case the customer is not satisfied with the following services (shared hosting or VPS, design services unless implementation begins) with a 15% discount as an
                    administrative fee.
                </p>
                <p class="text-center">
                    The amount is returned via the same method of payment from our payment channels.

                </p>
            </div>
        </div>
    </div>
</section>