<div class="container-fluid slider-bg">
    <div class="left-animated-icon">
        <img src="../../assets/images/home/left-cube.png" class="">
    </div>

    <div class="right-animated-icon">
        <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
        <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
        <img src="../../assets/images/home/right-cube.png" class="trangle-three">
    </div>
    <div class="container">
        <div class="row box-align-center">

            <div class="col-md-6">
                <div class="slider_txt p-top">

                    <div class="slider_txt_center">
                        <!-- <img class="img-responsive" src="images/home_uppere.png"> -->
                        <h1 data-aos="zoom-in-up" class="aos-init">{{ 'INNER_PAGES.IOS' | translate }}</h1>

                        <h1 class="bold-font yellow-text aos-init" data-aos="zoom-in-up">{{ 'INNER_PAGES.APPLICATION' | translate }}</h1>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/iOS-app.png" class="img-responsive">
            </div>



        </div>
        <div class="header-bottom">
            <div class="left-header-bg">
                <img src="../../assets/images/home/left.png">
            </div>
            <div class="right-header-bg">
                <img src="../../assets/images/home/right.png">
            </div>
        </div>
    </div>
</div>

<section class="who_are inner-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h2>{{ 'INNER_PAGES.IOS_HEADING' | translate }}</h2>

                <p>{{ 'INNER_PAGES.IOS_DESCRIPTION' | translate }}</p>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12">
                <img src="../../assets/images/ios-app-anim.png" class="app-clock">
            </div>

        </div>
    </div>
</section>