<footer>


    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-sm-4 col-md-4">
                <h5>{{ 'FOOTER.COMPANY' | translate }}</h5>
                <ul>
                    <li><a routerLink="/price">{{ 'FOOTER.PRICE' | translate }}</a></li>
                    <li><a routerLink="/return-policy">{{ 'FOOTER.RETURN_POLICY' | translate }}</a></li>
                    <li><a routerLink="/customer-agreement">{{ 'FOOTER.CUSTOMER_AGREEMENT' | translate }}</a></li>
                    <li><a routerLink="/privacy-policy">{{ 'FOOTER.PRIVACY_POLICY_GAMES' | translate }}</a></li>

                </ul>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <h5>{{ 'FOOTER.APPLICATION_DEVELOPMENT' | translate }}</h5>
                <ul>
                    <li><a href="javascript:void(0);" class="android">{{ 'FOOTER.ANDROID_APP_DOWNLOAD_BTN' | translate }} </a></li>
                    <li><a href="javascript:void(0);" class="android">{{ 'FOOTER.IOS_APP_DOWNLOAD_BTN' | translate }} </a></li>

                </ul>
                <div class="get-app-bottom-avatar">
                    <img src="../../assets/images/Download.png">
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <h5>{{ 'FOOTER.GET_SOCIAL' | translate }}</h5>
                <ul class="social-icons-container">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>


                </ul>
                <div class="copy_ryt">
                    <div class="">{{ 'FOOTER.COPY_RIGHT' | translate }} <a href="javascript:void(0);">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a> </div>
                </div>

            </div>



        </div>
    </div>


</footer>