<div class="container-fluid slider-bg">
    <div class="left-animated-icon">
        <img src="../../assets/images/home/left-cube.png" class="">
    </div>

    <div class="right-animated-icon">
        <img src="../../assets/images/home/top-trangle.png" class="trangle-one">
        <img src="../../assets/images/home/large-trangle.png" class="trangle-two">
        <img src="../../assets/images/home/right-cube.png" class="trangle-three">
    </div>
    <div class="container">
        <div class="row box-align-center">

            <div class="col-md-6">
                <div class="slider_txt p-top">

                    <div class="slider_txt_center">
                        <!-- <img class="img-responsive" src="images/home_uppere.png"> -->
                        <h1 data-aos="zoom-in-up" class="aos-init">{{ 'INNER_PAGES.DOMAIN' | translate }}</h1>

                        <h1 class="bold-font yellow-text aos-init" data-aos="zoom-in-up">{{ 'INNER_PAGES.REGISTRATION' | translate }}</h1>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/domain-register.png" class="img-responsive">
            </div>



        </div>
        <div class="header-bottom">
            <div class="left-header-bg">
                <img src="../../assets/images/home/left.png">
            </div>
            <div class="right-header-bg">
                <img src="../../assets/images/home/right.png">
            </div>
        </div>
    </div>
</div>
<section class="who_are inner-about about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <p>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_DESCRIPTION' | translate }}</p>
                <h2>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_HEADING' | translate }}</h2>

                <h4>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_HEADING_TWO' | translate }}</h4>
                <img src="../../assets/images/domain-down.png" class="img-responsive domain-down">
            </div>



        </div>
    </div>
</section>
<section class="domain-specification">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/specific-1.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING1' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING1_DESCRIPTION' | translate }}</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/specific-2.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING2' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING2_DESCRIPTION' | translate }}</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/specific-3.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING3' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING3_DESCRIPTION' | translate }}</p>

                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/specific-4.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING4' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING4_DESCRIPTION' | translate }}</p>

                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box">
                    <img src="../../assets/images/specific-5.png" class="img-responsive">
                    <h2>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING5' | translate }}</h2>
                    <p>{{ 'INNER_PAGES.DOMAIN_REGISTRATION_BOX_HEADING5_DESCRIPTION' | translate }}</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="specific-box domain-box">
                    <img src="../../assets/images/specific-6.png" class="img-responsive">
                </div>

            </div>

        </div>
    </div>
</section>